.item-task {
    display: flex;

}

.item-task .actions {
    margin-left: auto;
}

.item-task.finished {
    text-decoration: line-through;
    color: gray;
}

.form {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 50%;
}
form button {
    color: white;
    gap: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
}
form button:hover {
    background-color: #0056b3;
    cursor: pointer;
}
